<div class="participant" id='participation-<%= participation.id %>'>
  <div class='name-address'>
    <img src="https://api.adorable.io/avatars/285/nicolas" class="avatar mr-2">
    <div>
      <strong><%= participation.user.username.capitalize %></strong>
      <p><%= participation.address %></p>
    </div>
  </div>
  <div class='p-3'>
    <% if participation.pending? %>
      <%= inline_svg 'question-mark.svg', class: 'grey-svg' %>
    <% elsif participation.accepted? %>
      <%= inline_svg 'check.svg', class: 'green-svg' %>
    <% else %>
      <%= inline_svg 'times.svg', class: 'red-svg' %>
    <% end %>
  </div>
</div>
