<%= content_for(:body_class, "fixed-height") %>


<div class="wrapper">
  <div class="punchline">
    <%= inline_svg('background-homecover.svg') %>
  </div>
</div>

<% if user_signed_in? && current_user.events.any? %>
  <div class="container-create-event">
    <div class="create-event">
      <h1> Your events </h1>
    </div>

    <% @participations.each do |participation| %>
      <div class='event-slat'>
        <div class="svg-glass">
          <%= inline_svg('glass.svg', width: 16) %>
        </div>
        <div class="title-event">
          <h5>
            <%= participation.event.name %>
          </h5>
          <h6 class="date">
            <%= participation.event.start_at.strftime("%A %-d %B %Y, at %H:%M") %>
          </h6>
        </div>
        <%= link_to "", event_path(participation.event), class: "slat-link" %>
      </div>
    <% end %>
  <% else %>
    <div class="container text-center">
      <p>Find easily a nice place to meet with your friends!</p>
      <hr>
    </div>
  </div>
<% end %>


<div class="panel-bottom">
  <%= link_to "Create event", new_event_path, class: "btn btn-primary btn-block" %>
</div>
