<%= content_for(:body_class, "fixed-height") %>

<div class='home-banner'>
  <div class='titles'>
    <h1> CentrAll </h1>
    <h6> Quickly find a meeting place </h6>
  </div>
</div>

<% if user_signed_in? && current_user.events.any? %>
    <div class="main-title-event">
      <h1> Your Pending Events </h1>
    </div>
  <div class="container-create-event">

    <% @participations.sort_by { |participation| participation.event.start_at }.each do |participation| %>
      <% if participation.event.start_at + 4.hours > Time.now %>
        <div class='event-slat'>
          <div class="svg-icon">
            <% if participation.event.kind == 'bar' %>
              <%= inline_svg('bar.svg', height: 18, class: 'black-svg') %>
            <% else %>
              <%= inline_svg('restaurant.svg', width: 24, class: 'black-svg') %>
            <% end %>
          </div>
          <div class="title-event">
            <h5>
              <%= participation.event.name %>
            </h5>
            <h6 class="date">
              <%= participation.event.start_at.strftime("%A %-d %B %Y, at %H:%M") %>
            </h6>
          </div>
          <%= link_to "", event_path(participation.event), class: "slat-link" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <div class="container text-center welcome-message">
    <h4> Welcome! </h4>
    <hr>
    <span>We will calculate a central place to help you plan meet your friends in less than 30mn!</span>
    <p>To do that, you only need to:</p>
    <ul>
      <li>Create a new Event</li>
      <li>Share the link with you friends</li>
      <li>Let them enter their departure location</li>
      <li>Vote for one out of three propositions</li>
    </ul>
    <h4> Let's get started! </h4>
  </div>
<% end %>

<div class="panel-bottom">
  <%= link_to "Create event", new_event_path, class: "btn btn-primary btn-block" %>
</div>
