<div class="navbar">
  <div class="navbar-burger">
    <section class="flyout flyout-closed">
    <header class="flyout-header">
      <div class="d-flex justify-content-between">
        <a class="flyout-close icon-link" href="#">
          <%= inline_svg 'burger.svg', class: 'black-svg' %>
        </a>
      </div>
    </header>

    <div class="flyout-links">
      <a href="#">View my events</a>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
      <% end %>
    </div>

    <div class="flyout-shadow flyout-close"></div>
    </section>

    <a class="flyout-open navbar-burger" href="#">
      <%= inline_svg 'burger.svg', class: 'white-svg' %>
    </a>
  </div>


  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= inline_svg "logo.svg", class: "logo" %>
    <% end %>
  </div>
  <div class="navbar-timer">
    <%= link_to root_path do %>
      <%= inline_svg "logo.svg", class: "logo" %>
    <% end %>
  </div>
</div>






