<div class="container header-boarding">
  <h1>
    <%= @event.status.capitalize %> - <%= @event.name %>
  </h1>

  <div class='date-copy'>
    <span class="boarding-time" data-start_at="<%= @event.created_at.iso8601 %>"><%= @event.start_at.to_formatted_s(:long) %></span>
    <button href="#" class='btn btn-primary btn-url' onclick="copyToClipboard('<%= event_url(@event) %>')">Copy URL</button>
  </div>
</div>

<h5 class='title-separator'>PARTICIPANTS</h5>

<div class="container-participant">
  <% @event.participations.each do |participation| %>
    <%= render 'participations/participation', participation: participation %>
  <% end %>
</div>

<div class='panel-bottom text-center <%= 'panel-hidden' unless current_user.participation(@event).accepted? %>' id='boarding-3'>
  <h4>Your friends are boarding!</h4>
  <p>Votes will start in</p>
  <h1 id="timer"></h1>
  <div class="row">
    <div class="col-4">
      <%= link_to participation_declineds_path(current_user.participation(@event)), method: :post do %>
        <button href="#" class='btn btn-light btn-block'>Cancel</button>
      <% end %>
    </div>
    <% if current_user == @event.user %>
    <div class="col-8">
      <%= link_to event_status_path(@event), method: :put do %>
        <button href="#" class='btn btn-primary btn-block'>Skip Timer</button>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class='panel-bottom panel-hidden' id='boarding-2'>
  <h4 class='text-center'>Where will you be leaving from?</h4>
  <div id='participation-form'>
    <%= render 'participations/form', participation: current_user.participation(@event) %>
  </div>
</div>

<div class='panel-bottom <%= "panel-hidden" unless current_user.participation(@event).pending? || current_user.participation(@event).declined? %>' id='boarding-1'>
  <h4 class='text-center'>Are you joining?</h4>
  <div class="row">
    <div class="col-4">
      <%= link_to participation_declineds_path(current_user.participation(@event)), method: :post do %>
        <button href="#" class="btn btn-light btn-block"><%= inline_svg 'times.svg', class: 'grey-svg' %></button>
      <% end %>
    </div>
    <div class="col-8">
        <button href="#" class="btn btn-primary btn-block" id='join-button'><%= inline_svg 'check.svg', class: 'white-svg' %></button>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <script>
    App.cable.subscriptions.create(
      {
        channel: "EventsChannel",
        event_id: <%= @event.id %>
      },
      {
        received: function(data) {
          var participantsEl = document.querySelector('.container-participant');
          switch (data.type) {
            case 'new_participation':
              participantsEl.insertAdjacentHTML('beforeend', data.html);
              break;
            case 'update_participation':
              var oldParticipation = document.getElementById('participation-' + data.participation_id);
              var newParticipation = createElementFromHTML(data.html);
              oldParticipation.parentNode.replaceChild(newParticipation, oldParticipation);
              break;
          }
        }
      }
    );
  </script>
<% end %>




