<h6 class="boarding_time" data-start_at=<%=@event.created_at%>><%= @event.created_at.to_formatted_s(:long) %></h6>
<div class="container-participant">
<hr>
  <h5>PARTICIPANTS</h5>
  <% event.participations.each do |participation| %>
    <%= render 'participations/participation', participation: participation %>
  <% end %>
</div>

<div class='panel-bottom <%= "panel-hidden" unless current_user.participation(event).accepted? %>' id='boarding-3'>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis doloribus earum exercitationem, labore blanditiis mollitia corporis possimus doloremque similique eaque tempora sapiente assumenda, sunt, at repellendus? Cupiditate totam dolores maxime.
</div>

<div class='panel-bottom panel-hidden' id='boarding-2'>
  <h4 class='text-center'>Where will you be leaving from?</h4>
  <div id='participation-form'>
    <%= render 'participations/form', participation: current_user.participation(event) %>
  </div>
</div>

<div class='panel-bottom <%= "panel-hidden" unless current_user.participation(event).pending? %>' id='boarding-1'>
  <h4 class='text-center'>Are you joining?</h4>
  <div class="row">
    <div class="col-4">
      <%= link_to participation_declineds_path(current_user.participation(event)), method: :post do %>
        <button href="#" class="btn btn-light btn-block"><%= inline_svg 'times.svg', class: 'grey-svg' %></button>
      <% end %>
    </div>
    <div class="col-8">
        <button href="#" class="btn btn-primary btn-block" id='join-button'><%= inline_svg 'check.svg', class: 'white-svg' %></button>
    </div>
  </div>
</div>





