<div class="container">
  <h5>PARTICIPANTS</h5>
  <hr>
  <% event.participations.each do |participation| %>
    <div class="participant">
      <div class="">
        <img src="https://api.adorable.io/avatars/285/nicolas" class="avatar mr-2">
        <span><%= participation.user.username.capitalize %></span>
      </div>
      <div class='p-3'>
        <% if participation.pending? %>
          <%= inline_svg('question-mark.svg') %>
        <% elsif participation.accepted? %>
          <%= inline_svg('check.svg') %>
        <% else %>
          <%= inline_svg('times.svg') %>
        <% end %>
      </div>
    </div>
  <% end %>

  <h4 class='text-center'>Are you joining?</h4>
  <div class="row">
    <div class="col-4">
      <%= link_to participation_declineds_path(current_user.participation(event)), method: :post do %>
        <button href="#" class="btn btn-light btn-block"><%= inline_svg('times.svg') %></button>
      <% end %>
    </div>
    <div class="col-8">
        <button href="#" class="btn btn-primary btn-block" id="launch-geoloc"><%= inline_svg('tick.svg') %></button>
    </div>
    </div>

  <div class=''>
    <h4 class='text-center'>Where will you be?</h4>
    <%= simple_form_for current_user.participation(event), url: participation_accepteds_path(current_user.participation(event)), method: :post do |f| %>
      <div class="input-group flex-nowrap">
        <%= f.input_field :address, error: 'Not a valid address' %>
        <div class="input-group-append">
          <a href="#" class="btn btn-secondary" id="geoloc"><%= inline_svg('gps.svg') %></a>
        </div>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
