<h1>Boarding</h1>

<div class="wrapper-lath">
  <% event.participations.each do |participation| %>
    <div class="lath">
      <div class="avatar">
        <img src="https://api.adorable.io/avatars/285/nicolas" alt="avatar">
      </div>
      <div class="lath-content">
        <h2><%= participation.user.username.capitalize %></h2>
      </div>
      <div class="lath-button-part">
        <div class="icon">
          <% if participation.pending? %>
            <%= inline_svg('question-mark.svg') %>
          <% elsif participation.accepted? %>
            <%= inline_svg('check.svg') %>
          <% else %>
            <%= inline_svg('times.svg') %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>


  <% participation = Participation.where(user: current_user, event: event).first %>
  <div class="lath">

    <%= link_to participation_declineds_path(participation), method: :post, class: 'lath-button decline' do %>
      <div class="icon">
        <%= inline_svg('times.svg') %>
      </div>
    <% end %>

    <div class="lath-content">
      <% if participation.pending? %>
        <h2 class='text-center'>Wanna Join?</h2>
      <% else %>
        <h2 class='text-center'>Changed Your Mind?</h2>
        <% end %>
    </div>

    <%#= link_to participation_accepteds_path(participation), method: :post, class: 'lath-button accept' do %>
      <div class="lath-button accept">
        <div class="icon">
          <%= inline_svg('tick.svg') %>
        </div>
      </div>
    <%# end %>

  </div>

  <div class='text-center'>
    <h2>Set your location</h2>

    <%= render 'address_form', participation: participation %>
  </div>
</div>
