<div
  id="map"
  style="width: 100%;
  height: 50vh;"
  data-marker='<%= raw @event.chosen_place.coordinates.to_json %>'
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-center='<%= raw @event.chosen_place.coordinates.to_json %>'
></div>

<div class="result">
  <div class="result-body">

    <h1 class="result-title"><%= @event.name %></h1>
    <h6 class="result-subtitle mb-2 text-muted">YOUR APPOINTMENT</h6>

    <div class="result-details">
      <ul>
        <li>
          <% if @event.kind == 'bar' %>
              <%= inline_svg('bar.svg', class: 'result-icon') %>
            <% else %>
              <%= inline_svg('restaurant.svg', class: 'result-icon') %>
            <% end %>
            <%= @event.chosen_place.name %>
        </li>
        <li><%= inline_svg "calendar.svg" , class: 'result-icon'%><%= @event.start_at.strftime("%A %-d %B %Y, at %H:%M") %></li>
        <li><%= inline_svg "address.svg" , class: 'result-icon'%><%= @event.chosen_place.address%></li>
      </ul>
    </div>
  </div>
  <h4 class="result-goodbye">Have a great time!</h4>
</div>
