<h1>Voting</h1>

<% results = [
    {id: 1, name: "Buffonni", rating: "3.9", style: "Italian", photo_url: "https://png.pngtree.com/thumb_back/fw800/back_pic/04/59/29/02586a68e4829cc.jpg"},
    {id: 2, name: "Sweet Bastard", rating: "4.5", style: "Burgers", photo_url: "https://www.vival.fr/images/recette/recette-99.jpg"},
    {id: 3, name: "Chez Connard", rating: "4.1", style: "Brasserie", photo_url: "https://media-cdn.tripadvisor.com/media/photo-s/0f/94/14/17/brasserie-desbrosses.jpg"}
  ] %>

<% participation = Participation.where(event: @event, user: current_user).first %>

<div class="restaurant-wrapper">

  <% results.each do |result| %>
    <div class="restaurant-slate" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= result[:photo_url] %>); background-size: cover;">
      <div class="restaurant-info">
        <h2><%= result[:name] %></h2>
        <p><%= result[:style] %></p>

        <%= participation.chosen_place %>
      </div>
      <div class="restaurant-rating">
        <p><%= result[:rating] %></p>
        <i class="fas fa-star"></i>
      </div>

      <%= link_to participation_votes_path(participation), method: :post, class: 'vote-button' do %>
        <% participation.chosen_place = result[:id] %>
        <div class="btn btn-primary">
          <h3>+</h3>
        </div>
      <% end %>

    </div>
  <% end %>



</div>









