<div class="restaurant-wrapper">

  <%= simple_form_for :vote, url: participation_votes_path(current_user.participation(event)), method: :post do |f| %>

    <%= f.collection_radio_buttons :place_id, @event.places, :id, :name do |input| %>
      <label class="btn-block" >
        <%= input.radio_button %>

        <%# use input.object if you want to access the tag instance %>

        <div class="restaurant-card">
          <div class="restaurant-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= input.object %>);">
          </div>
          <div class="restaurant-info">
            <h2><%= input.object.name %></h2>
            <p><%= input.object.rating %></p>
            <p class="discret">107 cours Balguerie Stuttenberg</p>
            <p class="discret">05 55 55 55 55</p>
          </div>
          <%= link_to participation_votes_path(current_user.participation(event)), method: :post, class: 'vote-button' do %>
            <div class="btn btn-primary">
              <h3>Vote</h3>
            </div>
          <% end %>
        </div>
      </label>
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>



