<h1>Voting</h1>

<% participations = Participation.where(id: event.participation_ids) %>
<% participations.each do |participation| %>
  <%= participation.user.username %>
<% end %>

<div class="wrapper-lath">
  <div class="lath">
    <div class="lath-content">
      <h2>Buffonni</h2>
      <p>Italian</p>
    </div>
    <div class="lath-rating">
      <%= inline_svg'star.svg', class: "rating-icon" %>
      <%= inline_svg'star.svg', class: "rating-icon" %>
      <%= inline_svg'star.svg', class: "rating-icon" %>
    </div>
    <div class="lath-button">
      <div class="btn btn-primary">
        <%= link_to participation_votes_path(participation), method: :post, class: 'lath-button vote' do %>
          <div class="icon">
        <%= inline_svg('times.svg') %>
      </div>
    <% end %>
      </div>
    </div>
  </div>

  <div class="lath">
    <div class="lath-content">
      <h2>MC Jerkinson</h2>
      <p>English</p>
    </div>
    <div class="lath-rating">
      <%= inline_svg'star.svg', class: "rating-icon" %>
      <%= inline_svg'star.svg', class: "rating-icon" %>
    </div>
    <div class="lath-button">
      <div class="btn btn-primary">VOTE</div>
    </div>
  </div>

  <div class="lath">
    <div class="lath-content">
      <h2>Chez Connard</h2>
      <p>Brasserie</p>
    </div>
    <div class="lath-rating">
      <%= inline_svg'star.svg', class: "rating-icon" %>
      <%= inline_svg'star.svg', class: "rating-icon" %>
      <%= inline_svg'star.svg', class: "rating-icon" %>
    </div>
    <div class="lath-button">
      <div class="btn btn-primary">VOTE</div>
    </div>
  </div>

</div>
