<h1 class="title-voting">
  <%= @event.status.capitalize %> - <%= @event.name %>
</h1>

<div class="wrapper-voting" data-updated_at="<%= @event.updated_at %>">
  <div
    id="map"
    class="map-voting"
    data-markers='<%= raw @markers.to_json %>'
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-center='<%= raw @center.to_json %>'
  >
  </div>

  <div class="scroll-snap">
    <div class="false-card">
      False card
    </div>

    <% @event.places.shuffle.each do |place| %>

      <%= render "places/place", participation: current_user.participation(event), place: place %>
      <% end %>

    <div class="false-card">
      False card
    </div>

  </div>
</div>
