<h1>Voting</h1>

<div class="restaurant-wrapper">

  <%= simple_form_for :vote, url: participation_votes_path(current_user.participation(event)), method: :post do |f| %>

    <%= f.collection_radio_buttons :place_id, @event.places, :id, :name do |input| %>
      <label>
        <%= input.radio_button %>

        <%# use input.object if you want to access the tag instance %>

        <div class="restaurant-slate" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= input.object %>); background-size: cover;">
          <div class="restaurant-info">
            <h2><%= input.object.name %></h2>
            <p><%= input.object.rating %></p>

          </div>
          <div class="restaurant-rating">
            <p><%= input.object.rating %></p>
            <i class="fas fa-star"></i>
          </div>

          <%= link_to participation_votes_path(current_user.participation(event)), method: :post, class: 'vote-button' do %>
            <div class="btn btn-primary">
              <h3>+</h3>
            </div>
          <% end %>

        </div>
      </label>
    <% end %>

    <%= f.button :submit %>
  <% end %>

</div>

<% votes = [] %>
<% votes1 = @event.participations.where(place: @event.places[0]) %>
<% votes2 = @event.participations.where(place: @event.places[1]) %>
<% votes3 = @event.participations.where(place: @event.places[2]) %>
<% votes1.length %>



