<% content_for(:action) do %>
  <%= link_to root_path do %>
      <%= inline_svg "logo.svg", class: "logo" %>
    <% end %>
<% end %>


<div class="form-container-restaurant">
  <div class='restaurant-title'>
    <h2 class='form-title text-center'>Create your Event</h2>
  </div>

  <%= simple_form_for @event do |f| %>
    <%= f.input :name, label: 'What is the occasion ?', error: 'The name is mandatory' %>
    <%= f.input :start_at, start_year: Date.today.year, :minute_step => 15, label: 'When are you meeting your friends ?', class: 'datetime' %>
    <%= f.input :kind, collection: Event.kinds.keys, as: :radio_buttons, label: 'What kind of place do you prefer ?' %>
    <%= f.button :submit, class: 'btn btn-primary btn-block' %>
  <% end %>
</div>

