<% content_for(:action) do %>
  <%= link_to root_path do %>
      <%= inline_svg "logo.svg", class: "logo" %>
    <% end %>
<% end %>


<% if @event.status == "voting" || @event.status == "boarding" %>
  <h1>
    <%= @event.status.capitalize %> - <%= @event.name %>
  </h1>
  <% end %>

<%= render @event.status, event: @event %>
