<div class="restaurant-card" style="width:70vw" id="place-<%= place.id %>">
  <%= simple_form_for :vote, url: participation_votes_path(participation), method: :post, remote: true do |f| %>
    <img src="<%= place.photo %>" class="restaurant-image" alt="restaurant image">
    <div class="restaurant-info">
      <h2><%= place.name %></h2>
      <p><%= place.rating %> <%= inline_svg 'star.svg', class: 'grey-svg' %></p>
      <p><%= place.address %></p>
    </div>

    <div class="vote-button">
      <%= f.input_field :place_id, value: place.id, as: :hidden %>
      <% if participation.place == place %>
        <button type="button" class="btn btn-primary disabled">Your Choice</button>
      <% else %>
        <%= f.button :submit, class: 'btn btn-primary upvote', value: "CHOSE" %>
      <% end %>
    </div>
  <% end %>
</div>
